.contact-button{ /*for profil pages*/
    position: fixed;
    bottom: 5vh;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    @include desktop-only{
        position: initial;
        height: 45px;
        width: 120px;
        text-align: center;
    }
}

.button-style{
    background-color: $color-primary;
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    border-width: 0px;
    padding: 7px 10px;
}