#lightbox{
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-style: none;
    flex-wrap: wrap;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__media{
        width: 90%;
        height: auto;
        object-fit: contain;
    }

    &__media-container{
        width: 90%;
        display: flex;
        justify-content: center;
        height: auto;
    }

    /*includes close button & next button*/
    &__close-next-btn{
        position: relative;
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
    }

    &__title{
    }
}

.lightbox--openned{
    display: flex;
}

.lightbox--closed{
    display: none;
}

/*close btn*/
.fa-times{
    color: $color-primary;
}