#lightbox{
    position: relative;
    background-color:  $color-tertiary;
    border-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include desktop-only{
        width: 100vh;
    }
    
    &-bg{
        align-items: center;
        position: fixed;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 100vh;
        background-color: $color-tertiary;

        @include desktop-only{
            justify-content: center;
        }
    }

    &__media{
        width: 85vw;
        height: 75vw;
        object-fit: cover;
        border-radius: 5px;

        @include desktop-only{
            height: 80vh;
            width: 80vh;
        }
    }

    &__media-container{
        width: 85vw;
        height: 75vw;
        display: flex;
        justify-content: center;
        height: auto;
        
        @include desktop-only{
            height: 80vh;
            width: 80vh;
        }
    }

    &__previous-btn{
        margin-left: 4vw;
        margin-right: 4px;
        color: $color-primary;
        cursor: pointer;

        @include desktop-only{
            font-size: 25px;
            margin-right: 10px;
        }
    }

    &__next-btn{
        margin-left: 4px;
        color: $color-primary;
        cursor: pointer;

         @include desktop-only{
            font-size: 25px;
            margin-left: 10px;
        }
    }

    /*includes close button & next button*/
    &__close-next-btn{
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
    }

    &__close-btn{
        position: absolute;
        right: 2.5vw;
        top: 0px;
        color: $color-primary;
        padding: 0px;
        border: 0;
        background-color: #fff;
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;

        @include desktop-only{
            font-size: 25px;
            right: 2.5vh;
        }
    }

    &__title{
        margin: 10px 0px 10px 8vw;
        color: $color-primary;
        font-size: 1.2em;
        flex-basis: 100%;
        cursor: default;

        @include desktop-only{
            margin: 10px 0px 10px 10.4vh;
        }
    }
}

.lightbox--openned{
    display: flex;
}

.lightbox--closed{
    display: none;
}