.modal-form--closed{
    display: none;
}

.modal-form--openned{
    display: block;
}

.invalid-data{
    border-style: solid;
    border-color: red;
    color: red;
}

#modal-form{
    width: 90%;
    height: 100%;
    margin: 0px;
    border-style: none;
    background-color: $color-secondary;
    position: relative;

    &__bg{
        width: 100vw;
        height: 100vh;
        background-color: $color-secondary;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    &__title{
        font-weight: 400;
        font-size: 2em;
        margin-top: 0px;
    }

    label{
        font-size: 1.2em;
    }

    input{
        width: 100%;
        height: 40px;
        margin: 5px 0px 10px 0px;
        border-radius: 5px;
        border-style: none;
        font-size: 1.2em;
    }

    textarea{
        width: 100%;
        height: 150px;
        margin: 5px 0px 10px 0px;
        border-radius: 5px;
        border-style: none;
        font-size: 1.2em;
    }
}