.fisheye-profil-svg{
    width: 170px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.photographer-banner {
    display: flex;
    justify-content: space-between;

    section{
        display: flex;
    }

    img{
        min-width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 50px;
        margin-top: 15px;
    }

    &-text{
        flex-direction: column;

        section{
            margin-top: 5px;
            flex-wrap: wrap;
        }
    }
   
}

.profil-name{
    color: $color-font-primary;
    font-weight: 400;
    font-size: 2.5em;
    margin: 15px 0px 0px 0px;
}



